In [1]:
file= '/Users/ez/Downloads/disney_plus_shows.csv'

In [2]:
import pandas as pd
df = pd.read_csv(file)

In [3]:
#df['year'] = pd.to_numeric(df['year'].str.replace('–',''))
#df['year']=df['year'].fillna(0).astype(int)

In [6]:
c= df['year'].str.split('-')

In [7]:
import datetime as dt
df['released_at']= pd.to_datetime(df['released_at'])
df['added_at']= pd.to_datetime(df['added_at'])

In [8]:
df['timemin']=df['runtime'].str.replace(r'\D', '')

/var/folders/01/3t8cj2yd1rlgn7lfk03yjjdh0000gn/T/ipykernel_52310/541885416.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['timemin']=df['runtime'].str.replace(r'\D', '')

In [9]:
df['timemin']= pd.to_numeric(df['timemin'])
#df['imdb_votes']= pd.to_numeric(df['imdb_votes'])
df['imdb_votes'] = df['imdb_votes'].str.replace(',', '')
df['imdb_votes'] = df['imdb_votes'].astype(float)

0      283945
1         124
2       97785
3        7434
4       33444
        ...
987      3750
988      6378
989      3318
990      2339
991    410437
Name: imdb_votes, Length: 992, dtype: object

In [39]:
df2= df
df2=df2.dropna(subset= ['imdb_id', 'genre'])

df2[df2['title'].isna()==True]

Empty DataFrame
Columns: [imdb_id, title, plot, type, rated, year, released_at, added_at, runtime, genre, director, writer, actors, language, country, awards, metascore, imdb_rating, imdb_votes, timemin]
Index: []

In [15]:
genres= df['genre'].str.get_dummies(',')
actors= df['actors'].str.get_dummies(',')

In [16]:
imdb_id= df2['imdb_id']

a=df2[df2['imdb_id'].isna()==True]

In [17]:
title= df2['title']
b=df2[df2['title'].isna()==True]

In [18]:
plot= df2['plot']
df2['plot']= df2['plot'].fillna('None')
c=df2[df2['plot'].isna()==True]

/var/folders/01/3t8cj2yd1rlgn7lfk03yjjdh0000gn/T/ipykernel_52310/378015801.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['plot']= df2['plot'].fillna('None')

In [19]:
types= df2['type']
d=df2[df2['type'].isna()==True]

types= df2.set_index('type').groupby('type').mean()
df3= types.imdb_rating
%store df3
print(types.imdb_rating)

Stored 'df3' (Series)
type
episode    7.005556
movie      6.577563
series     6.917935
Name: imdb_rating, dtype: float64

In [20]:
rate= df2['rated']
f=df2[df2['rated'].isna()==True]

In [21]:
year=df2['year']
g=df2[df2['year'].isna()==True]

years= df2.set_index('year').groupby('year').mean()
df4= years.imdb_rating
%store df4
print(years.imdb_rating)

Stored 'df4' (Series)
year
1928     7.600000
1932     7.233333
1933     7.100000
1934     7.100000
1935     7.375000
           ...
2018–    7.007143
2019     6.642857
2019–    7.543750
2020     6.992857
2020–    6.550000
Name: imdb_rating, Length: 178, dtype: float64

In [22]:
relased= df2['released_at']
h=df2[df2['released_at'].isna()==True]

released= df2.set_index('released_at').groupby('released_at').mean()
df5= released.imdb_rating
%store df5
print(released.imdb_rating)

Stored 'df5' (Series)
released_at
1929-01-01    7.6
1932-07-30    7.5
1932-11-19    6.8
1932-12-10    7.4
1933-05-27    7.5
             ...
2020-03-06    7.1
2020-03-13    6.2
2020-03-20    7.6
2020-04-03    6.9
2020-04-10    7.6
Name: imdb_rating, Length: 795, dtype: float64

In [23]:
added= df2['added_at']
i=df2[df2['added_at'].isna()==True]

addedat= df2.set_index('added_at').groupby('added_at').mean()
df6= addedat.imdb_rating
%store df6
print(addedat.imdb_rating)

Stored 'df6' (Series)
added_at
2019-10-01    6.727273
2019-11-12    6.641331
2019-11-27    5.500000
2019-11-29    8.400000
2019-12-01    6.137500
2019-12-03    7.300000
2019-12-05    7.900000
2019-12-13         NaN
2019-12-20    6.400000
2019-12-26    7.000000
2020-01-01    6.590000
2020-01-03    7.800000
2020-01-08    7.000000
2020-01-10    7.566667
2020-01-15    7.366667
2020-01-17    5.500000
2020-01-22    9.700000
2020-01-28    6.900000
2020-01-31    6.700000
2020-02-01    6.300000
2020-02-02    6.700000
2020-02-05    7.800000
2020-02-07    6.100000
2020-02-09    5.400000
2020-02-14    6.250000
2020-02-16    4.700000
2020-02-21    7.300000
2020-02-28    6.900000
2020-03-01    6.100000
2020-03-04    7.300000
2020-03-05    6.000000
2020-03-06    5.900000
2020-03-13    6.200000
2020-03-14    7.000000
2020-03-15    5.100000
2020-03-20    6.800000
2020-03-25    4.200000
2020-04-01    5.950000
2020-04-03    7.050000
2020-04-10    7.350000
2020-04-17    6.800000
2020-04-24    6.700000
2020-04-30    6.800000
2020-05-01    7.236364
2020-05-02    6.600000
Name: imdb_rating, dtype: float64

In [24]:
runtime=df2['timemin']

timemin= df2.set_index('timemin').groupby('timemin').mean()
df7= addedat.imdb_rating
%store df7
print(timemin.imdb_rating)

Stored 'df7' (Series)
timemin
1.0      6.100000
2.0      6.620000
3.0      7.225000
4.0      7.085714
5.0      7.172727
           ...
152.0    7.000000
162.0    7.800000
169.0    7.100000
172.0    8.000000
181.0    8.400000
Name: imdb_rating, Length: 126, dtype: float64

In [25]:
genre= df2['genre']

gene= df2.set_index('genre').groupby('genre').mean()
df7= gene.imdb_rating
%store df7
print(gene.imdb_rating)

Stored 'df7' (Series)
genre
Action, Adventure, Biography, Drama, Family                    NaN
Action, Adventure, Comedy                                   3.6000
Action, Adventure, Comedy, Crime, Family                    4.9000
Action, Adventure, Comedy, Crime, Family, Romance, Sport    5.7000
Action, Adventure, Comedy, Crime, Family, Sci-Fi            4.1000
                                                             ...
Musical, Reality-TV                                         7.2000
Reality-TV                                                  7.6375
Short, Comedy, Drama, Sci-Fi                                7.3000
Short, Family                                               8.8000
Short, Fantasy                                              6.1000
Name: imdb_rating, Length: 366, dtype: float64

In [26]:
director= df2['director']

directors= df2.set_index('director').groupby('director').mean()
df8= directors.imdb_rating
%store df8
print(directors.imdb_rating)

Stored 'df8' (Series)
director
Aaron Blaise, Robert Walker                      6.8
Adam Shankman                                    6.0
Alan Barillaro                                   8.4
Alan Shapiro                                     6.5
Alan Taylor                                      6.9
                                                ...
Wolfgang Reitherman, David Hand                  7.6
Wolfgang Reitherman, James Algar, Jack Kinney    7.6
Zach Lipovsky, Adam B. Stein                     3.6
Zak Knutson                                      7.4
Zhong Yu                                         6.4
Name: imdb_rating, Length: 463, dtype: float64

In [27]:
writer= df2['writer']

write= df2.set_index('writer').groupby('writer').mean()
df9= write.imdb_rating
%store df9
print(write.imdb_rating)

Stored 'df9' (Series)
writer
A.A. Milne (books), Larry Clemmons (story), Ralph Wright (story), Vance Gerry (story), Xavier Atencio (story), Ken Anderson (story), Julius Svendsen (story), Ted Berman (story), Eric Cleworth (story), Winston Hibler (story supervisor "Blustery Day")                                                         7.60
A.A. Milne (characters), Tom Rogers                                                                                                                                                                                                                                                                               6.50
A.A. Milne (stories), Karl Geurs (screenplay), Carter Crocker (screenplay)                                                                                                                                                                                                                                        7.10
AJ Carothers, Erich Kästner (novel)                                                                                                                                                                                                                                                                               6.20
Aaron Mendelsohn (teleplay), Janet Brownell (teleplay), Aaron Mendelsohn (story), Blake Harris (story)                                                                                                                                                                                                            6.30
                                                                                                                                                                                                                                                                                                                  ...
William Raynor (teleplay), Myles Wilder (teleplay), Gordon Buford (based on a story by)                                                                                                                                                                                                                           6.60
William Wheeler (screenplay by), Tim Crothers (based on the ESPN Magazine article and book by)                                                                                                                                                                                                                    7.40
Winston Hibler (screenplay), Ted Sears (screenplay), William Otis (screenplay)                                                                                                                                                                                                                                    6.90
Winston Hibler (script), Ted Sears (script), James Algar (script)                                                                                                                                                                                                                                                 7.45
Winston Hibler (story), Erdman Penner (story), Harry Reeves (story), Homer Brightman (story), Ken Anderson (story), Ted Sears (story), Joe Rinaldi (story), William Cottrell (story), Art Scott (story), Jesse Marsh (story), Bob Moore (story), John Walbridge (story), Hardie Gramatky (story "Little Toot")    6.40
Name: imdb_rating, Length: 708, dtype: float64

In [28]:
actor= df2['actors']

In [29]:
lenguage= df2['language']

leng= df2.set_index('language').groupby('language').mean()
df10= leng.imdb_rating
%store df10
print(leng.imdb_rating)

Stored 'df10' (Series)
language
Brazilian Sign Language                                 8.300000
Chinese, English                                        7.500000
Chinese, Mandarin, Japanese, Korean, French, English    6.300000
English                                                 6.637088
English, Algonquin                                      6.700000
                                                          ...
None                                                    7.955556
Norwegian, English                                      5.100000
Spanish                                                 5.200000
Spanish, English                                        5.100000
Spanish, German                                         6.800000
Name: imdb_rating, Length: 72, dtype: float64

In [30]:
country= df2['country']

countr= df2.set_index('country').groupby('country').mean()
df11= countr.imdb_rating
%store df11
print(countr.imdb_rating)

Stored 'df11' (Series)
country
Argentina                                                                                                                          5.200000
Argentina, Mexico                                                                                                                  6.800000
Australia, UK                                                                                                                      9.700000
Australia, USA                                                                                                                     6.333333
Austria, UK, USA                                                                                                                   6.400000
Canada                                                                                                                             7.100000
Canada, Malaysia, USA                                                                                                              6.000000
Canada, USA                                                                                                                        6.050000
Canada, USA, UK, France                                                                                                            6.500000
China                                                                                                                              6.400000
China, Hong Kong, USA                                                                                                              5.300000
Denmark, China                                                                                                                     7.466667
France, Canada, USA                                                                                                                5.500000
France, UK                                                                                                                         5.700000
France, UK, USA                                                                                                                    8.000000
France, USA                                                                                                                        7.400000
Germany, USA                                                                                                                       4.600000
India                                                                                                                              7.200000
Ireland, UK, USA, South Korea, Canada                                                                                              5.100000
Ireland, USA                                                                                                                       6.800000
Ireland, USA, Canada, UK, Denmark, Spain, Poland, Hungary                                                                          6.300000
New Zealand, USA                                                                                                                   6.100000
Norway, Sweden, USA                                                                                                                6.700000
South Korea, USA, China, Japan                                                                                                     7.000000
Tanzania, USA                                                                                                                      7.200000
UK                                                                                                                                 6.930000
UK, Australia                                                                                                                      7.600000
UK, Canada, USA                                                                                                                    6.600000
UK, China, USA                                                                                                                     7.200000
UK, Germany                                                                                                                        7.400000
UK, USA                                                                                                                            6.771429
UK, USA, Canada                                                                                                                    6.200000
UK, USA, Ireland                                                                                                                   6.700000
USA                                                                                                                                6.685931
USA, Angola, Botswana, Namibia, South Africa                                                                                       7.600000
USA, Australia                                                                                                                     6.071429
USA, Australia, France, Canada                                                                                                     6.800000
USA, Canada                                                                                                                        6.173684
USA, Canada, Australia                                                                                                             5.800000
USA, Canada, Australia, Taiwan                                                                                                     5.600000
USA, Denmark                                                                                                                       5.600000
USA, France                                                                                                                        6.466667
USA, Germany, Ireland, UK                                                                                                          5.900000
USA, Guatemala                                                                                                                     6.400000
USA, Hungary, UK                                                                                                                   4.700000
USA, India, UK                                                                                                                     6.750000
USA, Ireland                                                                                                                       6.800000
USA, Japan                                                                                                                         6.450000
USA, Mexico                                                                                                                        6.300000
USA, New Zealand                                                                                                                   5.600000
USA, Panama, Mexico                                                                                                                7.400000
USA, Philippines, South Korea                                                                                                      7.200000
USA, Poland, Slovenia, Czech Republic, UK                                                                                          6.500000
USA, South Korea, France                                                                                                           6.500000
USA, South Korea, Singapore, Russia, Malaysia, Kazakhstan, Taiwan, Hong Kong, Japan, China, India, Syria, Iran, Egypt, Pakistan    5.700000
USA, Taiwan, South Korea, China, Japan, UK                                                                                         7.600000
USA, UK                                                                                                                            6.509091
USA, UK, Australia                                                                                                                 7.500000
USA, UK, Australia, Canada                                                                                                         6.300000
Name: imdb_rating, dtype: float64

In [31]:
award= df2['awards']
awards= df2.set_index('awards').groupby('awards').mean()
Rain_Data= awards.imdb_rating
%store Rain_Data
print(awards.imdb_rating)

Stored 'Rain_Data' (Series)
awards
1 nomination.                                               6.276786
1 win & 1 nomination.                                       6.252632
1 win & 10 nominations.                                     6.800000
1 win & 11 nominations.                                     7.850000
1 win & 13 nominations.                                     5.950000
                                                              ...
Won 4 Primetime Emmys. Another 5 nominations.               8.000000
Won 5 Oscars. Another 12 wins & 13 nominations.             8.000000
Won 5 Oscars. Another 15 wins & 17 nominations.             7.800000
Won 6 Oscars. Another 52 wins & 28 nominations.             8.600000
Won 7 Primetime Emmys. Another 23 wins & 30 nominations.    8.100000
Name: imdb_rating, Length: 258, dtype: float64

In [32]:
metascore = df2['metascore']

score= df2.set_index('metascore').groupby('metascore').mean()
df12= score.imdb_rating
%store df12
print(score.imdb_rating)

Stored 'df12' (Series)
metascore
19.0    5.400
24.0    3.000
29.0    5.200
30.0    5.000
31.0    5.800
        ...
92.0    8.300
94.0    8.200
95.0    8.075
96.0    7.900
99.0    7.400
Name: imdb_rating, Length: 69, dtype: float64

In [33]:
rating= df2['imdb_rating']

In [34]:
votes= df2['imdb_votes']

vote= df2.set_index('imdb_votes').groupby('imdb_votes').mean()
df13= vote.imdb_rating
%store df13
print(vote.imdb_rating)

Stored 'df13' (Series)
imdb_votes
5.0          7.333333
6.0          7.566667
7.0          5.100000
9.0          6.100000
10.0         7.000000
               ...
1007917.0    8.000000
1086714.0    7.800000
1109656.0    8.700000
1188658.0    8.600000
1225316.0    8.000000
Name: imdb_rating, Length: 816, dtype: float64

In [36]:
df.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes,timemin
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,1999-03-31,2019-11-12,97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,283945.0,97.0
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,2019-03-25,2020-02-28,NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124.0,NaN
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,1996-11-27,2019-11-12,103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,97785.0,103.0
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,2003-01-21,2019-11-12,74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,7434.0,74.0
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,2000-11-22,2019-11-12,100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,33444.0,100.0

In [40]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 885 entries, 0 to 991
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdb_id      885 non-null    object
 1   title        885 non-null    object
 2   plot         861 non-null    object
 3   type         885 non-null    object
 4   rated        742 non-null    object
 5   year         885 non-null    object
 6   released_at  868 non-null    datetime64[ns]
 7   added_at     885 non-null    datetime64[ns]
 8   runtime      835 non-null    object
 9   genre        885 non-null    object
 10  director     686 non-null    object
 11  writer       740 non-null    object
 12  actors       864 non-null    object
 13  language     861 non-null    object
 14  country      864 non-null    object
 15  awards       556 non-null    object
 16  metascore    292 non-null    float64
 17  imdb_rating  875 non-null    float64
 18  imdb_votes   875 non-null    float64
 19  timemin      835 non-null    float64
dtypes: datetime64[ns](2), float64(4), object(14)
memory usage: 145.2+ KB

In [41]:
df2.describe()

        metascore  imdb_rating    imdb_votes     timemin
count  292.000000   875.000000  8.750000e+02  835.000000
mean    62.061644     6.657943  6.283311e+04   68.305389
std     15.776455     1.022142  1.724585e+05   39.682298
min     19.000000     1.500000  5.000000e+00    1.000000
25%     51.000000     6.100000  7.230000e+02   30.000000
50%     61.000000     6.700000  3.961000e+03   81.000000
75%     73.000000     7.400000  2.439850e+04   96.500000
max     99.000000     9.700000  1.225316e+06  181.000000